body {
    background-image: url("改良版.gif");
    background-repeat:no-repeat;
    min-height: 100vh;
    background-size: cover;
    /* background-position: center top; */

    /* height: 90PX; */
    /* width: 100px; */
    /* max-width: 10px; */
  }