body {
  background-image: url("改良版.gif");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  /* background-position: center top; */

  /* height: 90PX; */
  /* width: 100px; */
  /* max-width: 10px; */
}

.kekka {
  width: 60%;
  height: 20%;
  margin: 0 10% 0 30%;
  background-color: #1c1a4d;
  border-bottom: 1px solid #1c1a4d;
  /* font-weight: bold; */
  /* letter-spacing: 0.05em; */
}

.kekka-title {
  color: rgb(255, 255, 255);
  margin: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 30px;
}

.no {
  margin: 2px;
  display: flex;
  font-size: 30px;
}

.kekka-d {
  width: 90%;
  text-align: center;
  margin: 0 5% 10px 5%;
  /* margin-left: 5%; */
  /* padding: 15px 0; */
  background-color: #000000;
  color: #00ff15;
  font-size: 30px;
}

.max {
  display: flex;
}

.return {
  background-color: #000000;
}
.return:hover{
  transform: scale(1.1);
}

/*  background-image: url("6.png");
 display: flex;
  justify-content: center;
  position: relative;
  padding: 4px;
  color: black;
  background-color: #3cb37a;
  border-radius: 50px; 
  width: 150px;
}
.reset{
  width: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 4px;
  color: black;
  background-color: #3cb37a;
  border-radius: 50px;
}
.return,
.reset{
  position: relative;
  top: 400px;
  border: 1px solid #000000;
} */