.km{
    display: inline-block;      /* インラインブロック要素にする */
    color: white;
}
.a{
    clear:both; 
}
.gazou{
    background-position: 0%;
}

 
body{
    background-image:url("./余白改.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
}
.sentaku{
    position: absolute;
    bottom: 10%;
    left: 15%;
}
