.km{
    display: inline-block;      /* インラインブロック要素にする */
}
.a{
    clear:both; 
}
.gazou{
    background-position: 0%;
}

 
.train{
    display: flex;
    flex-direction: column;
}
.sky{
    height: 55%;
}
.bottom{
    position: relative;
}
.bottom img{
    height: 45%;
}
.sentaku{
    position: absolute;
    bottom: 20%;
    left: 30%;
}
